<!DOCTYPE html>
<html>
<head>
  <title>MH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--<form accept-charset="UTF-8" action="/login" method="post">-->
<!--<form action="/users" class="new_user" id="new_user" method="post"> -->
<form accept-charset="UTF-8" action="/users" class="new_user"
      id="show_user" method="get">
	<div id="main-container" class="container">
	      <div class="row">
		<div class="col-xs-21">
		   <%= render 'shared/navigation' %>
		</div>
		<br><br><br>
	<!--        <div class="col-xs-21"> -->
		<div class="col-xs-offset-5 col-xs-11">
		  <h3>Mi perfil</h3>
		</div>
<div class = "container" align = center style = "padding: 128px 420px">
<div class="form-group">
<p style = "font-size: 18px" >
    <label for="exampleInputEmail1">Correo electr칩nico:</label>
</p>
    <input type="email" class="form-control" id="user_email" placeholder="Correo electr칩nico" name="user[email]">
  </div>
  <div class="form-group">
<p style = "font-size: 18px" >
    <label for="exampleInputPassword1">Contrase침a:</label>
</p>
    <input type="password" class="form-control" id="user_password" placeholder="Contrase침a" name="user[password]">
  </div>
  <div class="form-group">
	<input class="btn btn-primary" name="commit" type="submit"
         value="Entrar" />

  </div>
</div>
</div>
</form>





</body>
</html>
