<!DOCTYPE html>
<html>
<head>
  <title>MH</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<form>
<div class = "container" align = center style = "padding: 128px 420px">
<div class="form-group">
<p style = "font-size: 20px" >
    <label for="exampleInputEmail1">Correo electrónico:</label>
</p>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electrónico">
  </div>
  <div class="form-group">
<p style = "font-size: 20px" >
    <label for="exampleInputPassword1">Contraseña:</label>
</p>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
  <div class="form-group">
	<a href="http://google.com" class="button">¿No tienes cuenta? 		Regístrate</a>

  </div>


  <button type="Confirmar" class="btn btn-default">Confirmar</button>
</div>
</form>





</body>
</html>
